<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Playlists</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  <a href="{% url 'music:add_artist_page' %}">View Artists</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{% url 'users:profile' %}">My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{% url 'playlists:show_playlists' %}">My Playlists</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{% url 'users:my_followers' %}">My Followers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{% url 'users:follow_users' %}">Follow Users</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  {% if request.session.email %}
    <a href="{% url 'users:logout' %}">Signout</a>
  {% else %}
    <a href="{% url 'users:home' %}">Login or Register</a>
  {% endif %}

  <h1>My Musicify</h1>
  <form action="{% url 'music:search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="search_query">
    <input type="submit" name="search" value="Search">
  </form>
  <br>
  <hr>
  <br>
  <h3>Top 5 Songs</h3>
    <ol>
      {% for song in songs %}
      <li>{{song.title}}</li>
      {% endfor %}
    </ol>
  <br>
  <h3>Top 5 Artists</h3>
    <ol>
      {% for artist in artists %}
      <li>{{artist.name}}</li>
      {% endfor %}
    </ol>
  <br>
  <h3>Top 5 Playlists</h3>
  <ol>
    {% for playlist in playlists %}
    <li>{{playlist.title}}</li>
    {% endfor %}
  </ol>
</body>
</html>
