<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Followers</title>
</head>
<body>
  <a href="{% url 'playlists:home' %}">Home</a><br><br>
  <h1>My Followers</h1>
  {% for follower in my_followers %}
  <ul>
    <li>{{follower.first_name}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'users:follower_profile' follower_id=follower.id %}">View Profile</a></li>
  </ul>
  {% endfor %}
</body>
</html>
